@use 'atoms' as a;
@use 'molecules' as m;
@use 'organisms' as o;
@use 'variables' as v;

.intro{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 2fr 1fr;

    .summary {
        text-align: center;
    }
    
    .preamble {
        grid-column: span 2;
    }
}

.summary, .preamble {
    background-color: v.$element-color;
    padding: 0.5rem;
}

.main div {
    background-color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

footer a {
    font-size: 1.5rem;
}

aside div.wrapper {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

aside li {
    list-style-type: none;
}

aside ul {
    padding: 0;
}

.design-selection{
  grid-column: 1;
  grid-row: 1/span 2;
}

@media (min-width: 900px) {

    .page-wrapper {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        gap: 1rem 0.5rem;
    }

    .intro {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-column: span 3;

        .preamble {
            grid-column: span 3;
        }
    }

    aside div.wrapper {
        display: block;
    }

    aside::before {
        content: "";
        width: 0px;
        height: 0px;
        border-right: 70px solid darken(pink, 2%);
        border-top: 120px solid transparent;
        border-left: 70px solid darken(pink, 1%);
        border-bottom: 100px solid pink;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        position: absolute;
        z-index: 1;
        bottom: 300px;
        left: calc(50% - 70px)
    }

    aside::after {  /*stem*/
        content: "";
        position: absolute; 
        bottom: 1rem; 
        left: calc(50% - 15px);
        width: 0;
        height: 300px;
        border: 15px solid green;
        border-radius: 0 0 30px 30px; 
    }

    aside .wrapper::after {  /*leaf*/
        content: "";
        position: absolute;
        background-color: darken(green, 5%);
        bottom: 150px;
        left: 50%;
        height: 50px;
        width: 70px;
        border-radius: 250px 0;
        text-align: center;
    }

    .main {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        gap: 0.5rem;

        .participation {
            grid-row: 2;
            grid-column: span 2;
        }

        .benefits {
            grid-row: 3;
            grid-column: 2;
        }

        .requirements {
            grid-column: span 2;
            grid-row: 4;
        }
    }

    .main div {
        margin: 0;
    }

    .intro::before {
        grid-row: 1;
        grid-column: 1;
        content: "";
        display:block;
        align-self: center;
        justify-self: center;
        width:200px;
        height:100px;
        background: radial-gradient(circle, rgba(255,253,105,1) 40%, rgba(255,255,255,1) 42%, rgba(255,105,180,1) 80%);
        border-radius: 50px;
        transform: rotate(45deg);
    }

    .intro::after {
        grid-row: 1;
        grid-column: 1;
        content:"";
        display: block;
        align-self: center;
        justify-self: center;
        width:200px;
        height:100px;
        background: radial-gradient(circle, rgba(255,253,105,1) 40%, rgba(255,255,255,1) 42%, rgba(255,105,180,1) 80%);
        border-radius: 50px;
        transform: rotate(-45deg);
    }

    footer a {
        display: block;
        color: black;
        background-color: v.$accent-color;
        width: 100%;
        margin: 0;
        padding: 0.5rem 1rem;

        &:hover {
            text-decoration: none;
            background-color: darken(v.$element-color, 10%);
        }
    }
}